mcp>=1.0.0 #MCP framework

# Drivers
aiomysql>=0.2.0       # MySQL and MariaDB
asyncpg>=0.29.0       # PostgreSQL
aiosqlite>=0.20.0     # SQLite
aioodbc>=0.5.0        # SQL Server (requires ODBC Driver installed)
pyodbc>=5.0.0         # dependency of aioodbc
